html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.dataLabel {
    font-weight: bold;
}
#outputFrame {
    display: none;
}

.output {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

#track {
    white-space: normal;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: scroll;
}
.footer {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
}

td {
    border: 1px black solid;
    min-width: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

.machineData div {
    padding: 5px;
}

td.head {
    background-color: #a8a8a8 !important;
    border: 3px black solid;
}

td.bold {
    font-weight: bold;
    background-color: #e8e8e8;
}

#stepButton {
    display:none;
    margin-bottom: 1em;
}

#turing {
    display: none;
    padding: 5px;
}